*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8vw;
}
.boxcenter{
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: aquamarine;
    min-height: 100px;
}
.header{
    background-color: aliceblue;
    border: 1px #59e959 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}
.footer{
    background-color: aquamarine;
    border:  1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}
.header h1{
    margin: 10px 20px;
    font-size: 1.2vw;
}
.menu{
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}
.menu ul {
    padding: 0px 15px;
}
.menu ul li {
    list-style: none;
    display: inline;
    padding: 0px 15px ;
}
.menu ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: white;
    font-size: 0.8vw;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float:left;
    width: 24%;
}
.boxtitle{
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #eee;
}
.boxfooter{
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.boxcontent3{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    
    min-height: 200px;
}
.boxcontent3 img{
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}
.boxcontent3 a{
    text-decoration: none;
    color: rgb(222, 91, 91);
}
.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img{
    height: 300px;
}
.boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;

}
.boxsp .img{
    min-height: 230px;
    text-align: center;
}
.img img {
  height: 200px;
  margin-top: 10px;
  border-radius: 85%;
}
.desc{
    text-align: center;
}
.desc p{
    font-size: 15px;
}
.desc a{
    font-size: 15px;
    text-decoration: none;
    color: red;
}

/* box taif khoản */
.formtaikhoan{
    line-height: 150%;
}
.formtaikhoan input[type="text"],
.formcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtaikhoan input[type="password"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}
.formtaikhoan input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
    
    background-color: #ccc;
}
.formtaikhoan li a{
    color: palevioletred;
    text-decoration: none;
}
.formtaikhoan li a:hover{
    color: rgb(188, 83, 101);
    text-decoration: underline;
}

/* menu */
.menudoc ul {
    margin:  0;
    list-style: none;
    padding: 0;
}
.menudoc ul li{
    padding: 10px 20px ;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}
.menudoc ul li a {
    color: #666;
    text-decoration: none;
}
.menudoc ul li:hover {
    background-color: #ccc;
}
.searchbox input[type="text"]{
    width: 100%;
    padding: 5px 10px ;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: rgb(172, 166, 166);
}
.flex{
    display: flex;
    align-items: center;
}
.padding{
    padding: 10px;
}
/* admin */
.headeradmin{
    background-color: #eee;
    border: 1px #59e959 solid;
    color: rgb(193, 37, 143);
    border-radius: 5px;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.formtitle{
    background-color: #eee;
    border: 1px #59e959 solid;
    color: rgb(193, 37, 143);
    border-radius: 5px;
    padding: 0px 20px;
}
.formcontent{
    padding: 20px 0px ;

}




/*  */
.formlist table{
    width: 100%;
    border-collapse: collapse;
    border: 1px #999 solid;
}
.formlist table th:nth-child(1){
    width: 10%;
    padding: 20px;
    background-color: #ccc;
}
.formlist table th:nth-child(2){
    width: 30%;
    background-color: #ccc;
}
.formlist table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
}
.formlist table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
}
.formlist table th:nth-child(5){
    width: 10%;
}
.formlist table td{
    padding: 10px 20px ;
    border: 1px #ccc solid;
}
